# Virtual environment
venv/
env/

# Python bytecode
__pycache__/
*.pyc

# Database (auto-created by app.py on first run — don't commit local data)
expenxe_tracker.db

# Editor / OS junk
.vscode/
.idea/
.DS_Store